body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-card {
   color:rgb(19, 17, 17);
}

.carrusel-images {
   background-size: cover;
   width: 1000px; 
   height: 160px;
   border: 2px solid #e37222;
   border-radius: 5px; 
   resize: both; 
   overflow: scroll; 
}

h1 {
    color: #66B9BF
}
