.footerLink {
    color: black !important;
    padding: 15px;
}

.logo {
    width: 130px;
};

.menu {
    color: black;
}

.navbar-brand {
    padding: 0;
}

.navContainer {
    display: inline !important;
    justify-content: center;
}

.navbar-toggler {
    border: 3px black;
}

.petBtn, .petBtn:hover, .petBtn:focus {
    background-color: #66b9bf !important;
    border-color: #66b9bf;
    color: black;
    box-shadow: none;
}

.petCloudBar{
    background-color: #e37222 !important;
}
