.footerLink {
    color: black !important;
    padding: 15px;
}

.petCloudBar{
    background-color: #e37222 !important;
}

.menu {
    color: black;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    border: 3px black;
}

.navContainer {
    display: inline !important;
    justify-content: center;
}

.logo {
    width: 80px;
};

.login {
    background-color: #66b9bf !important;
}
