.forgottenPass {
    width: fit-content;
}

.info {
    font-size: 10px;
}

.registerForm {
    margin-top: 2rem;
    border: 1px solid #cac8c8;
    border-radius: 5px;
}

.modal-header {
    background-color: #e37222;
}

.modal-body a {
    color: #07889b;
}

.pass {
    margin: 1rem 1rem 0 1rem;
}

.passText {
    float: left;
    margin-left: 1.5rem;
}

.radio-button-rol {
  background-color: whitesmoke;
  border-radius: 30px;
  
 
}
