.img-pet {
    margin: auto;
}

.marginGroup {
    margin-top: 8rem;
}

.titlePet {
    margin-top: 5rem;
    text-align: center;

}

.rounded-circle {
    cursor: pointer;
}

.pets-list {
    border-radius: 10px;
    color: #E37222;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
     
}

.pet-name {
    margin-top: 80px;
}