.img-pet {
    margin: auto;
}

.marginGroup {
    margin-top: 8rem;
}

.titlePet {
    margin-top: 8rem;
    text-align: center;

}

.titlePet_not_found {
    margin-top: 3rem;
    text-align: center;
    color: #66B9BF;
    font-weight: bolder;
    margin-bottom: 3rem;

}

.rounded-circle {
    cursor: pointer;
}

.pets-list {
    border-radius: 10px;
    color: #E37222;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
     
}

.pet-name {
    margin-top: 80px;
}