.img-pet {
    margin: auto;
    margin-bottom:30px;
}

// .marginGroup {
//     margin-top: 8rem;
// }

.titlePet {
    margin-top: 5rem;
    text-align: center;

}

.pets-list {
    border-radius: 10px;
    color: #E37222;
    font-size: 30px;
    text-align: center; 
}
